 .u-section-1 {
  min-height: 680px;
}

.u-section-1 .u-text-1 {
  margin: 43px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 33px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 467px;
}

.u-section-1 .u-container-layout-1 {
  padding: 21px 57px 8px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 0 470px 0 0;
}

.u-section-1 .u-icon-2 {
  height: 83px;
  width: 83px;
  color: rgb(136, 192, 87) !important;
  margin: -32px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  text-align: left;
  margin: -51px 470px 0 0;
}

.u-section-1 .u-text-4 {
  margin: 44px auto 0;
}

.u-section-1 .u-text-5 {
  width: 285px;
  margin: 21px auto 0;
}

.u-section-1 .u-text-6 {
  margin: 32px 0 0 7px;
}

.u-section-1 .u-text-7 {
  margin: 0 288px 0 0;
}

.u-section-1 .u-icon-3 {
  color: rgb(0, 0, 0) !important;
}

.u-section-1 .u-text-8 {
  margin: -27px 0 0 248px;
}

.u-section-1 .u-icon-4 {
  color: rgb(0, 0, 0) !important;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 421px;
  background-image: linear-gradient(to right, #4c7397, #00dc05);
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 34px 4px;
}

.u-section-1 .u-text-9 {
  font-size: 3.75rem;
  text-shadow: 0px 0px 2px rgba(255,255,255,1);
  margin: 0 auto;
}

.u-section-1 .u-text-10 {
  font-size: 1.875rem;
  margin: 44px auto 0;
}

.u-section-1 .u-text-11 {
  font-size: 3.75rem;
  text-align: left;
  text-shadow: 0px 0px 2px rgba(255,255,255,1);
  margin: 108px auto 0;
}

.u-section-1 .u-text-12 {
  font-size: 1.875rem;
  text-align: left;
  margin: 31px auto 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 645px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 50px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 100px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 536px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 8px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 327px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 342px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 238px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 198px;
  }

  .u-section-1 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 347px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 313px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 313px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 313px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 33px;
    margin-right: 33px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 181px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 20px;
    margin-right: 181px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 413px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1 .u-text-5 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-1 {
    min-height: 662px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 113px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 19px;
    margin-left: 123px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 21px;
    margin-right: 113px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-11 {
    font-size: 1.875rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-2 .u-text-1 {
  text-align: start;
  margin: 25px auto 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 28px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 555px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 25px;
}

.u-section-2 .u-image-1 {
  width: 170px;
  height: 170px;
  background-position: 50% 50%;
  margin: 4px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 7px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 12px 0 0;
}

.u-section-2 .u-text-4 {
  text-align: center;
  margin: 7px 0 0;
}

.u-section-2 .u-text-5 {
  margin: 0;
}

.u-section-2 .u-text-6 {
  text-align: center;
  margin: 12px 0 0;
}

.u-section-2 .u-text-7 {
  text-align: center;
  margin: 5px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 30px 25px;
}

.u-section-2 .u-image-2 {
  width: 170px;
  height: 170px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJtYW4iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAyNTYgMjU2IiBzdHlsZT0id2lkdGg6IDI1NnB4OyBoZWlnaHQ6IDI1NnB4OyI+CjxyZWN0IGZpbGw9IiNDNkQ4RTEiIHdpZHRoPSIyNTYiIGhlaWdodD0iMjU2Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0xNzIuNiw5My40YzExLjYtNDQuNy0xMS4yLTQ4LjYtMTEuNy00OC4xYy0yMi40LTMxLjMtOTAuMy0xNi44LTc3LjQsNDguMWMtMTMuMy0yLjQtMS44LDMxLjYsMy43LDMyLjEKCWMwLDAsMCwwLDAsMGMwLjIsMCwwLjMsMCwwLjUtMC4xYzE0LjQsNDkuNyw2Mi43LDUwLjIsODAuNywwQzE3Mi4zLDEyNy4zLDE4Ni41LDkzLjMsMTcyLjYsOTMuNHoiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTIwNS40LDE3Ny45Yy0yNC02LjEtNDMuNS0xOS44LTQzLjUtMTkuOGwtMjAuNiw2NC44bC04LTIyLjhjMTkuNy0yNy41LTMwLjMtMjcuNS0xMC42LDBsLTgsMjIuOEw5NCwxNTguMQoJYzAsMC0xOS41LDEzLjctNDMuNSwxOS44QzMyLjcsMTgyLjUsMzAsMjU2LDMwLDI1NmgxOTZDMjI2LDI1NiwyMjMuMywxODIuNSwyMDUuNCwxNzcuOXoiLz4KPC9zdmc+Cg==");
  background-position: 50% 50%;
  margin: 4px auto 0;
}

.u-section-2 .u-text-8 {
  margin: 7px 0 0;
}

.u-section-2 .u-text-9 {
  margin: 12px 0 0;
}

.u-section-2 .u-text-10 {
  text-align: center;
  margin: 7px 0 0;
}

.u-section-2 .u-text-11 {
  margin: 0;
}

.u-section-2 .u-text-12 {
  text-align: center;
  margin: 12px 0 0;
}

.u-section-2 .u-text-13 {
  text-align: center;
  margin: 5px 0 0;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 30px 25px;
}

.u-section-2 .u-image-3 {
  width: 170px;
  height: 170px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJ3b21hbiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDI1NiAyNTYiIHN0eWxlPSJ3aWR0aDogMjU2cHg7IGhlaWdodDogMjU2cHg7Ij4KPHJlY3QgZmlsbD0iI0M2RDhFMSIgd2lkdGg9IjI1NiIgaGVpZ2h0PSIyNTYiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTE1MC41LDE2MC4xTDE1MC41LDE2MC4xVjE1MmMwLDAsMjUuNCwwLjgsMzcuNC0xMS41YzAsMC0xNy41LTQuOS0xNC40LTM2LjljMy4xLTMxLjktMy45LTU5LjktMjkuNi01Ny41CgljMCwwLTExLjEtMTMuNC0zMy4yLTQuOWMtNy42LDIuOS0yOCwxMC4yLTI2LjksNTQuNGMxLDQ0LjItMTUuNyw0NC41LTE1LjcsNDQuNXM4LjYsMTIuNiwzNy45LDEyLjN2OC4ybDIyLjMsNjVsMjIuMi02NC45CglMMTUwLjUsMTYwLjF6Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0yMTAsMjU2bC00LjUtNTQuMmMtMS41LTgtNi42LTE0LjktMTMuOS0xOC41bC0yOC0xMy44Yy0xLjYtMC44LTMuMi0xLjctNC44LTIuNmw4LjgsMjYuMWwtMTIuNC0wLjkKCUwxMjgsMjI1LjZMMTAwLjcsMTkyTDg4LjQsMTkzbDktMjYuMWwtNS42LDIuOWwtMjcuNCwxMy41Yy03LjMsMy42LTEyLjUsMTAuNS0xMy45LDE4LjVMNDYsMjU2SDIxMHoiLz4KPC9zdmc+");
  background-position: 50% 50%;
  margin: 4px auto 0;
}

.u-section-2 .u-text-14 {
  margin: 7px 0 0;
}

.u-section-2 .u-text-15 {
  margin: 12px 0 0;
}

.u-section-2 .u-text-16 {
  text-align: center;
  margin: 7px 0 0;
}

.u-section-2 .u-text-17 {
  margin: 0;
}

.u-section-2 .u-text-18 {
  text-align: center;
  margin: 12px 0 0;
}

.u-section-2 .u-text-19 {
  text-align: center;
  margin: 5px 0 0;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 798px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 100px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 432px;
  }

  .u-section-2 .u-image-2 {
    width: 232px;
    height: 232px;
  }

  .u-section-2 .u-image-3 {
    width: 232px;
    height: 232px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1405px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 32px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 21px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 856px;
}

.u-section-3 .u-text-1 {
  text-align: start;
  margin: 30px auto 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 31px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 628px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 25px;
}

.u-section-3 .u-image-1 {
  width: 170px;
  height: 170px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJtYW4iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAyNTYgMjU2IiBzdHlsZT0id2lkdGg6IDI1NnB4OyBoZWlnaHQ6IDI1NnB4OyI+CjxyZWN0IGZpbGw9IiNDNkQ4RTEiIHdpZHRoPSIyNTYiIGhlaWdodD0iMjU2Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0xNzIuNiw5My40YzExLjYtNDQuNy0xMS4yLTQ4LjYtMTEuNy00OC4xYy0yMi40LTMxLjMtOTAuMy0xNi44LTc3LjQsNDguMWMtMTMuMy0yLjQtMS44LDMxLjYsMy43LDMyLjEKCWMwLDAsMCwwLDAsMGMwLjIsMCwwLjMsMCwwLjUtMC4xYzE0LjQsNDkuNyw2Mi43LDUwLjIsODAuNywwQzE3Mi4zLDEyNy4zLDE4Ni41LDkzLjMsMTcyLjYsOTMuNHoiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTIwNS40LDE3Ny45Yy0yNC02LjEtNDMuNS0xOS44LTQzLjUtMTkuOGwtMjAuNiw2NC44bC04LTIyLjhjMTkuNy0yNy41LTMwLjMtMjcuNS0xMC42LDBsLTgsMjIuOEw5NCwxNTguMQoJYzAsMC0xOS41LDEzLjctNDMuNSwxOS44QzMyLjcsMTgyLjUsMzAsMjU2LDMwLDI1NmgxOTZDMjI2LDI1NiwyMjMuMywxODIuNSwyMDUuNCwxNzcuOXoiLz4KPC9zdmc+Cg==");
  background-position: 50% 50%;
  margin: 4px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 7px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 12px 0 0;
}

.u-section-3 .u-text-4 {
  text-align: center;
  margin: 7px 0 0;
}

.u-section-3 .u-text-5 {
  margin: 0;
}

.u-section-3 .u-text-6 {
  text-align: center;
  margin: 12px 0 0;
}

.u-section-3 .u-text-7 {
  text-align: center;
  margin: 5px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 33px auto 0;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 17px auto 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 30px 25px;
}

.u-section-3 .u-image-2 {
  width: 170px;
  height: 170px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJtYW4iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAyNTYgMjU2IiBzdHlsZT0id2lkdGg6IDI1NnB4OyBoZWlnaHQ6IDI1NnB4OyI+CjxyZWN0IGZpbGw9IiNDNkQ4RTEiIHdpZHRoPSIyNTYiIGhlaWdodD0iMjU2Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0xNzIuNiw5My40YzExLjYtNDQuNy0xMS4yLTQ4LjYtMTEuNy00OC4xYy0yMi40LTMxLjMtOTAuMy0xNi44LTc3LjQsNDguMWMtMTMuMy0yLjQtMS44LDMxLjYsMy43LDMyLjEKCWMwLDAsMCwwLDAsMGMwLjIsMCwwLjMsMCwwLjUtMC4xYzE0LjQsNDkuNyw2Mi43LDUwLjIsODAuNywwQzE3Mi4zLDEyNy4zLDE4Ni41LDkzLjMsMTcyLjYsOTMuNHoiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTIwNS40LDE3Ny45Yy0yNC02LjEtNDMuNS0xOS44LTQzLjUtMTkuOGwtMjAuNiw2NC44bC04LTIyLjhjMTkuNy0yNy41LTMwLjMtMjcuNS0xMC42LDBsLTgsMjIuOEw5NCwxNTguMQoJYzAsMC0xOS41LDEzLjctNDMuNSwxOS44QzMyLjcsMTgyLjUsMzAsMjU2LDMwLDI1NmgxOTZDMjI2LDI1NiwyMjMuMywxODIuNSwyMDUuNCwxNzcuOXoiLz4KPC9zdmc+Cg==");
  background-position: 50% 50%;
  margin: 4px auto 0;
}

.u-section-3 .u-text-8 {
  margin: 7px 0 0;
}

.u-section-3 .u-text-9 {
  margin: 12px 0 0;
}

.u-section-3 .u-text-10 {
  text-align: center;
  margin: 7px 0 0;
}

.u-section-3 .u-text-11 {
  margin: 0;
}

.u-section-3 .u-text-12 {
  text-align: center;
  margin: 12px 0 0;
}

.u-section-3 .u-text-13 {
  text-align: center;
  margin: 5px 0 0;
}

.u-section-3 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 33px auto 0;
}

.u-section-3 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 17px auto 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 30px 25px;
}

.u-section-3 .u-image-3 {
  width: 170px;
  height: 170px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJ3b21hbiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4PSIwcHgiIHk9IjBweCIgdmlld0JveD0iMCAwIDI1NiAyNTYiIHN0eWxlPSJ3aWR0aDogMjU2cHg7IGhlaWdodDogMjU2cHg7Ij4KPHJlY3QgZmlsbD0iI0M2RDhFMSIgd2lkdGg9IjI1NiIgaGVpZ2h0PSIyNTYiLz4KPHBhdGggZmlsbD0iIzdGOTZBNiIgZD0iTTE1MC41LDE2MC4xTDE1MC41LDE2MC4xVjE1MmMwLDAsMjUuNCwwLjgsMzcuNC0xMS41YzAsMC0xNy41LTQuOS0xNC40LTM2LjljMy4xLTMxLjktMy45LTU5LjktMjkuNi01Ny41CgljMCwwLTExLjEtMTMuNC0zMy4yLTQuOWMtNy42LDIuOS0yOCwxMC4yLTI2LjksNTQuNGMxLDQ0LjItMTUuNyw0NC41LTE1LjcsNDQuNXM4LjYsMTIuNiwzNy45LDEyLjN2OC4ybDIyLjMsNjVsMjIuMi02NC45CglMMTUwLjUsMTYwLjF6Ii8+CjxwYXRoIGZpbGw9IiM3Rjk2QTYiIGQ9Ik0yMTAsMjU2bC00LjUtNTQuMmMtMS41LTgtNi42LTE0LjktMTMuOS0xOC41bC0yOC0xMy44Yy0xLjYtMC44LTMuMi0xLjctNC44LTIuNmw4LjgsMjYuMWwtMTIuNC0wLjkKCUwxMjgsMjI1LjZMMTAwLjcsMTkyTDg4LjQsMTkzbDktMjYuMWwtNS42LDIuOWwtMjcuNCwxMy41Yy03LjMsMy42LTEyLjUsMTAuNS0xMy45LDE4LjVMNDYsMjU2SDIxMHoiLz4KPC9zdmc+");
  background-position: 50% 50%;
  margin: 4px auto 0;
}

.u-section-3 .u-text-14 {
  margin: 7px 0 0;
}

.u-section-3 .u-text-15 {
  margin: 12px 0 0;
}

.u-section-3 .u-text-16 {
  text-align: center;
  margin: 7px 0 0;
}

.u-section-3 .u-text-17 {
  margin: 0;
}

.u-section-3 .u-text-18 {
  text-align: center;
  margin: 12px 0 0;
}

.u-section-3 .u-text-19 {
  text-align: center;
  margin: 5px 0 0;
}

.u-section-3 .u-btn-5 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 33px auto 0;
}

.u-section-3 .u-btn-6 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 17px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 866px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 100px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 432px;
  }

  .u-section-3 .u-image-2 {
    width: 232px;
    height: 232px;
  }

  .u-section-3 .u-image-3 {
    width: 232px;
    height: 232px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    width: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-5 {
    margin-top: 20px;
  }

  .u-section-3 .u-text-11 {
    margin-top: 20px;
  }

  .u-section-3 .u-text-17 {
    margin-top: 20px;
  }
} .u-section-4 {
  margin-top: 20px;
}

.u-section-4 .u-sheet-1 {
  min-height: 710px;
}

.u-section-4 .u-text-1 {
  text-align: start;
  margin: 15px auto 0;
}

.u-section-4 .u-list-1 {
  margin: 45px auto 0 0;
}

.u-section-4 .u-repeater-1 {
  grid-gap: 0px 0px;
  grid-template-columns: 100%;
  min-height: 593px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 0 30px 10px;
}

.u-section-4 .u-text-2 {
  margin-bottom: 0;
  margin-top: 6px;
  font-size: 1.875rem;
}

.u-section-4 .u-text-3 {
  margin: 26px 45px 0 228px;
}

.u-section-4 .u-text-4 {
  text-align: left;
  margin: -98px 893px 0 60px;
}

.u-section-4 .u-text-5 {
  margin: -23px auto 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: linear-gradient(to right, #00dc05, #425465);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: 30px auto 0 0;
  padding: 9px 22px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 0 30px 10px;
}

.u-section-4 .u-text-6 {
  margin-bottom: 0;
  margin-top: 6px;
  font-size: 1.875rem;
}

.u-section-4 .u-text-7 {
  margin: 26px 45px 0 228px;
}

.u-section-4 .u-text-8 {
  text-align: left;
  margin: -47px 893px 0 60px;
}

.u-section-4 .u-text-9 {
  margin: -23px auto 0 0;
}

.u-section-4 .u-btn-2 {
  background-image: linear-gradient(to right, #00dc05, #425465);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: 30px auto 0 0;
  padding: 9px 22px;
}

.u-section-4 .u-container-layout-3 {
  padding: 0 0 30px 10px;
}

.u-section-4 .u-text-10 {
  margin-bottom: 0;
  margin-top: 6px;
  font-size: 1.875rem;
}

.u-section-4 .u-text-11 {
  margin: 26px 45px 0 228px;
}

.u-section-4 .u-text-12 {
  text-align: left;
  margin: -47px 893px 0 60px;
}

.u-section-4 .u-text-13 {
  margin: -23px auto 0 0;
}

.u-section-4 .u-btn-3 {
  background-image: linear-gradient(to right, #00dc05, #425465);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0px;
  margin: 30px auto 0 0;
  padding: 9px 22px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 795px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 0;
  }

  .u-section-4 .u-list-1 {
    margin-bottom: 100px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    margin-left: 73px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 753px;
    margin-left: 0;
  }

  .u-section-4 .u-text-5 {
    margin-top: 20px;
    margin-right: 753px;
    margin-bottom: initial;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 753px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
    margin-left: 73px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 753px;
    margin-left: 0;
  }

  .u-section-4 .u-text-9 {
    margin-top: 20px;
    margin-right: 753px;
    margin-bottom: initial;
  }

  .u-section-4 .u-btn-2 {
    margin-right: 753px;
  }

  .u-section-4 .u-text-11 {
    margin-right: 0;
    margin-left: 73px;
  }

  .u-section-4 .u-text-12 {
    margin-right: 753px;
    margin-left: 0;
  }

  .u-section-4 .u-text-13 {
    margin-top: 20px;
    margin-right: 753px;
    margin-bottom: initial;
  }

  .u-section-4 .u-btn-3 {
    margin-right: 753px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-3 {
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 533px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 533px;
    margin-bottom: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 533px;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
  }

  .u-section-4 .u-text-8 {
    margin-right: 533px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 533px;
    margin-bottom: 0;
  }

  .u-section-4 .u-btn-2 {
    margin-right: 533px;
  }

  .u-section-4 .u-text-11 {
    margin-left: 0;
  }

  .u-section-4 .u-text-12 {
    margin-right: 533px;
  }

  .u-section-4 .u-text-13 {
    margin-right: 533px;
    margin-bottom: 0;
  }

  .u-section-4 .u-btn-3 {
    margin-right: 533px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-4 {
    margin-right: 353px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 353px;
    margin-bottom: initial;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 353px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 353px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 353px;
    margin-bottom: initial;
  }

  .u-section-4 .u-btn-2 {
    margin-right: 353px;
  }

  .u-section-4 .u-text-12 {
    margin-right: 353px;
  }

  .u-section-4 .u-text-13 {
    margin-right: 353px;
    margin-bottom: initial;
  }

  .u-section-4 .u-btn-3 {
    margin-right: 353px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-4 {
    margin-right: 153px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 153px;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 153px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-8 {
    margin-right: 153px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 153px;
  }

  .u-section-4 .u-btn-2 {
    margin-right: 153px;
  }

  .u-section-4 .u-text-10 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-12 {
    margin-right: 153px;
  }

  .u-section-4 .u-text-13 {
    margin-right: 153px;
  }

  .u-section-4 .u-btn-3 {
    margin-right: 153px;
  }
} .u-section-5 {
  margin-top: 20px;
}

.u-section-5 .u-sheet-1 {
  min-height: 686px;
}

.u-section-5 .u-text-1 {
  text-align: start;
  margin: 20px auto 0;
}

.u-section-5 .u-image-1 {
  width: 404px;
  height: 404px;
  background-image: url("images/e65937ab-b85d-3e35-e333-28067d933e61.png");
  background-position: 50% 50%;
  margin: 25px auto 0 0;
}

.u-section-5 .u-form-1 {
  height: 409px;
  margin: -179px 0 20px 448px;
}

.u-section-5 .u-btn-1 {
  border-style: none;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 728px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-5 .u-image-1 {
    width: 257px;
    height: 257px;
    margin-top: 0;
  }

  .u-section-5 .u-form-1 {
    margin: 65px auto 10px 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 891px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-5 .u-image-1 {
    width: 265px;
    height: 265px;
    margin-top: 30px;
  }

  .u-section-5 .u-form-1 {
    margin-top: 47px;
    margin-right: 0;
    margin-bottom: 60px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 113px;
}

.u-section-6 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 344px;
  min-width: 248px;
  margin: 33px auto 0;
}

.u-section-6 .u-icon-1 {
  height: 100%;
  color: rgb(59, 89, 152) !important;
}

.u-section-6 .u-icon-2 {
  height: 100%;
  color: rgb(85, 172, 238) !important;
}

.u-section-6 .u-icon-3 {
  height: 100%;
  color: rgb(197, 54, 164) !important;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 98px;
  }

  .u-section-6 .u-social-icons-1 {
    margin-top: 25px;
    margin-bottom: -7px;
  }
}